#slider{
    width: 95vw;
    height: 90vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    margin:auto;
    margin-top:50px;
}
body{
  padding:0;
  margin:0;
  width:100%;
}
svg {
  position: absolute;
z-index: 2;
top: 42vh;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-size:6vw;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #fff;
}

.wrapper{
  position:relative;
}
