.yoko-line-box{
  margin:50px;
  /* width:100vw; */
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  border:2px #ccc solid;
}
.box{
  -ms-flex-pack:distribute;
  justify-content:space-around;
  margin:auto;
  transition:0.5s;
  filter:drop-shadow(5px 5px #888);
}
.text-space{
  border:2px #ccc solid;
  text-align:center;
  color:#666;
}
